div.blogs{
  padding: 30px 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

div.blogs a{
  text-decoration: unset;
  padding: 15px;
  background-color: rgba(0,0,0,0.2);
  border-radius: 10px;
  transition: all 0.3s;
}

div.blogs a img{
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

div.blogs h3{
  font-size: 18px;
  font-weight: 500;
}

div.blogs a:hover{
  transform: scale(1.03);
  box-shadow: 5px 5px 15px -5px #000 ;
}

@media screen and (max-width: 770px) {
  div.blogs{
    padding: 30px 20px;
    grid-template-columns: repeat(1, 1fr);
  }  
}