main{
  padding: 30px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main > section{
  width: 48%;
}

main section h1{
  font-weight: 400;
  font-size: 42px;
}

main section h2{
  font-weight: 400;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 10px;
}

main section div.tech-stack{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 15px;
}

main section div.tech-stack h3{
  font-weight: 550;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

main section div.tech-stack h3 span{
  margin-left: 5px;
}

main section div.links a{
  display: inline-block;
  font-size: 26px;
  margin-right: 20px;
}

main section:first-child{
  position: relative;
}

main section:first-child img{
  width: 100%;
}

main section:first-child::after{
  content: '';
  position: absolute;
  right: -2%;
  bottom: -2%;
  width: 100%;
  height: 100%;
  background-color: #663399;
  z-index: -1;
}


@media screen and (max-width: 1024px) {
  main{
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 20px;
  }
  
  main > section{
    width: 100%;
  }

  main section:first-child{
    margin-bottom: 60px;
  }
  
  main section h1{
    font-size: 32px;
  }
  main section h2{
    font-size: 20px;
  }
  main section div.tech-stack h3{
    font-size: 16px;
  }
  main section div.tech-stack{
    margin-bottom: 20px;
  }
}

